<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    // Hi - HCI

    <body>
        <h1>Edit Page for <%= comment %></h1>
        <form action="/comments/<%=id%>?_method=PATCH" method="post">
            <textarea name="newComment" cols="30" rows="10" placeholder="<%= comment %>"></textarea>
            <button type="submit" class="btn btn-primary">Edit!</button>
        </form>

    </body>

</html>